<h1>Index For <%= openToken %> title %></h1>
<p>
	You can find this view file in <i><%= generatedFile %></i>
</p>
<p>
	The corresponding controller for this view is in <i><%= openToken %> generatedFile %></i>
</p>